* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #207dff;
  --ancent-color: #fe5f55;
  --primary-text: rgba(0, 0, 0, 0.5);
  --secondary-text: #010101;
}
/*Top Header*/
.bg-blue {
  background-color: var(--primary-color);
}

.bg-blue a,i {
  color: #fff;
  text-decoration: none;
}

.line{
  width: 1px;
  height: 20px;
  background-color: rgba(138, 138, 138, 0.5) ;
}
/*Navbar*/
.logo {
  color: var(--secondary-text);
  font-family: sans-serif;
  font-weight: 900;
  line-height: 43px;
  font-size: 24px;
}

.navbar {
  position: absolute;
  width: 100%;
  background: rgba(228, 228, 228, 0.5);
  z-index: 9;
}
.nav-item {
  color: var(--secondary-text);
}

.nav-link {
  color: var(--secondary-text);
  font-family: Poppins, Arial, sans-serif;
  font-weight: 400;
  line-height: 29px;
  font-size: 16px;
}

.nav-link:after {    
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  background:var(--primary-color);
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.nav-link:hover:after { 
  width: 100%; 
  left: 0; 
}

.btn-danger:hover{
  background-color: var(--primary-color);
}

/*Image*/
.Image {
  background-image: url(https://images.pexels.com/photos/3938022/pexels-photo-3938022.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  height: 96vh;
}

.hero {
  height: 96vh;
  font-family: sans-serif;
}

.hero h6 {
  color: var(--primary-color);
  font-weight: 600;
  line-height: 22px;
  font-size: 12px;
}

.hero h1 {
  color: var(--secondary-text);
  font-weight: 700;
  line-height: 64px;
  font-size: 64px;
}

.hero p {
  color: var(--primary-text);
  font-size: 16px;
}
.btn-primary{
  border-radius: 100px;
  width: fit-content;
  height: 7vh;
  font-family: sans-serif;
  font-weight: 400;
  line-height: 24px;
  font-size: 16px;
}

/*About*/
h2 {
  font-family: sans-serif;
  font-weight: 700;
  line-height: 53px;
  font-size: 44px;
}
.About strong{
  color: var(--primary-color);
}
p{
  font-family: sans-serif;
  font-weight: 400;
  line-height: 31px;
  font-size: 17px;
  color: var(--primary-text);
}

.About .btn-danger{
  border-radius: 100px;
  width: fit-content;
  height: 7vh;
  font-family: sans-serif;
  font-weight: 400;
  line-height: 24px;
  font-size: 16px;
}

.About .btn-danger:hover{
  color: var(--ancent-color);
  border-color: var(--ancent-color);
  background-color: white;
}

/*Our services*/
.service{
  background-color: #F8F9FA;
  height: 100vh;
}

.service h1{
  font-family: sans-serif;
  font-weight: 700;
  line-height: 53px;
  font-size: 44px;
  color: var(--secondary-text);
}

main{
  display: grid;
  grid-template-rows: 170px 170px;
  grid-template-columns: 269px 269px;
  grid-gap: 9rem;
  text-align: center;
}

 .service main i{
  background-color: #FFEEED;
  color: #fe6056;
  width: 75px;
  height: 75px;
  border-radius: 100%;
  font-size: 30px;
  padding-top: 20px;
}

main h4{
  font-family: sans-serif;
  font-weight: 500;
  line-height: 30px;
  font-size: 23px;
  color: var(--secondary-text);
  
}

main p{
  font-family: sans-serif;
  font-weight: 400;
  line-height: 29px;
  font-size: 16px;
  color: var(--primary-text);
  text-align: left; 
}
.service .form{
  background-color: white;
  margin-top: -50px;
  margin-left: -150px;
  width: 40%;
  padding: 100px;
  height: 100vh;
  background-size: 1000px;
}

.form h5{
  font-family: sans-serif;
  font-weight: 600;
  line-height: 24px;
  font-size: 16px;
  color: var(--primary-color);
}

.form input{
  border-radius: 100px;
  margin-bottom: 30px;
  padding: 10px 10px;
  box-sizing: border-box;
}

.form select{
  border-radius: 100px;
  margin-bottom: 30px;
  padding: 10px 10px;
}

.form .btn-danger{
  border-radius: 100px;
  width: 100%;
  padding: 10px 10px;
}

.form .btn-danger:hover{
  color: var(--ancent-color);
  border-color: var(--ancent-color);
  background-color: white;
}

/*Slogan*/
.slogan{
  background-image: url(https://images.pexels.com/photos/8413291/pexels-photo-8413291.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);
  background-size: cover;
  background-position: bottom;
  height: 60vh;
}
.slogan h1{
  color: white;
  font-family: sans-serif;
  font-weight: 800;
  line-height: 75px;
  font-size: 50px;
  text-align: center;
}

.slogan p{
  color: white;
  font-family: sans-serif;
  font-weight: 400;
  line-height: 31px;
  font-size: 17px;
  text-align: center;
}

.btn-light{
  width: fit-content;
  border-radius: 100px;
}

/*Doctors*/

.doctors main{
  display: grid;
  grid-template-rows: 104px 104px 104px;
  grid-template-columns: 191.5px 191.5px 191.5px;
  margin-left: -7px;
  text-align: center;
  border: 1px solid rgb(229,229,229);
  height: 750px;
  width: 1008px;
  background-color: rgb(248,249,250);
}

.doctors i{
  color: var(--primary-color);
  width: 75px;
  height: 75px;
  font-size: 30px;
  padding-top: 25px;
}

.doctors h5{
  color: var(--secondary-text);
  font-family: sans-serif;
  font-weight: 400;
  line-height: 36px;
  font-size: 24px;
  text-align: center;
}

.doctors p{
  color: var(--primary-text);
  font-family: sans-serif;
  font-weight: 400;
  line-height: 31px;
  font-size: 17px;
  text-align: center;
}
 main .Neurology{
  border: 1px solid rgb(229,229,229);
  height: 250px;
  width: 336px;
  align-items: center;
 }

 main .Neurology:hover{
   background-color: var(--primary-color);

 }

 main .Op{
  border: 1px solid rgb(229,229,229);
  height: 250px;
  width: 336px;
  align-items: center;
 }

 main .Nuclear_Magnetic{
  border: 1px solid rgb(229,229,229);
  height: 250px;
  width: 336px;
  align-items: center;
}
main .Surgical{
  border: 1px solid rgb(229,229,229);
  height: 250px;
  width: 336px;
  align-items: center;
}
main .Cardiology{
  border: 1px solid rgb(229,229,229);
  height: 250px;
  width: 336px;
  align-items: center;
}
main .X-ray{
  border: 1px solid rgb(229,229,229);
  height: 250px;
  width: 336px;
  align-items: center;
}
main .Dental{
  border: 1px solid rgb(229,229,229);
  height: 250px;
  width: 336px;
  align-items: center;
}
main .Traumatology{
  border: 1px solid rgb(229,229,229);
  height: 250px;
  width: 336px;
  align-items: center;
}
main .Cardiology2{
  border: 1px solid rgb(229,229,229);
  height: 250px;
  width: 336px;
  align-items: center;
}
/*Qualified Doctors*/
.Qdoctors{
  background-color: rgb(248,249,250);
}
.Qdoctors h2{
  font-family: sans-serif;
  font-weight: 700;
  line-height: 53px;
  font-size: 44px;
  text-align: center;
  color: rgba(0, 0, 0, 0.9);
}

.Qdoctors p{
  font-family: sans-serif;
  font-weight: 400;
  line-height: 31px;
  font-size: 17px;
  text-align: center;
  color: var(--primary-text);
}

.Qdoctors main{
  display: grid;
  grid-template-columns: 190px 190px 190px 190px;
  grid-row: 550px;
  text-align: center;
  margin-left: -25px;
  height: 550px;
  width: 1346px;
}

.Qdoctors h4{
  font-family: sans-serif;
  font-weight: 500;
  line-height: 36px;
  font-size: 24px;
  text-align: center;
  color: var(--secondary-text);
}

.Qdoctors h6{
  font-family: sans-serif;
  font-weight: 600;
  line-height: 22px;
  font-size: 12px;
  text-align: center;
  color: var(--primary-color);
}
.Qdoctors p{
  font-family: sans-serif;
  font-weight: 400;
  line-height: 31px;
  font-size: 17px;
  text-align: center;
  color: var(--primary-text);
}

.Qdoctors .btn-primary{
  font-family: sans-serif;
  font-weight: 400;
  line-height: 24px;
  font-size: 16px;
  text-align: center;
  width: fit-content;
  height: fit-content;
}
main .doctor1{
  height: 550px;
  width: 336.5px;
  align-items: center;
  color: var(--secondary-text);
}

.Qdoctors .doctor1 h4:hover{
  color: var(--primary-color);
}

main .doctor2{
  height: 550px;
  width: 336.5px;
  align-items: center;
  color: var(--secondary-text);
}

main .doctor3{
  height: 550px;
  width: 336.5px;
  align-items: center;
  color: var(--secondary-text);
}

main .doctor4{
  height: 550px;
  width: 336.5px;
  align-items: center;
  color: var(--secondary-text);
}

/*Fun Facts*/
.facts .image{
background-image: url(https://images.pexels.com/photos/5327653/pexels-photo-5327653.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);
background-repeat: no-repeat;
background-position: center;
background-size: cover;
height: 65vh;
align-items: center;
}
/*.facts .image{
  background-color: rgb(32,125,255,0.8);
  position: absolute;
  height: 60vh;
  align-items: center;
  z-index:  ;
}*/
.facts h6{
  font-family: sans-serif;
  font-weight: 600;
  line-height: 22px;
  font-size: 12px;
  color: white;
}

.facts h2{
  font-family: sans-serif;
  font-weight: 700;
  line-height: 53px;
  font-size: 44px;
  color: white;
}

.facts .btn-danger{
  font-family: sans-serif;
  font-weight: 400;
  line-height: 24px;
  font-size: 16px;
  text-align: center;
  width: fit-content;
  height: max-content;
  border-radius: 100px;
}

.facts .btn-danger:hover{
  background-color: var(--primary-color);
  color: var(--ancent-color);
}

.facts main{
  display: grid;
  grid-template-columns: 105px 105px;
  grid-template-rows: 89px 89px;
  height: 468px;
  width: 500px;
  text-align: center;
}

.facts main h1{
  font-family: sans-serif;
  font-weight: 800;
  line-height: 79px;
  font-size: 44px;
  text-align: center;
  color: white;
}

.facts main p{
  font-family: sans-serif;
  font-weight: 500;
  line-height: 29px;
  font-size: 16px;
  text-align: center;
  color: var(--primary-text);
}


.facts .n1{
  height: 234px;
  width: 250px;
  align-items: center;
  text-align: center;
}

.facts .n2{
  align-items: center;
  text-align: center;
  height: 234px;
  width: 250px;
}
.facts .n3{
  align-items: center;
  text-align: center;
  height: 234px;
  width: 250px;
}
.facts .n4{
  align-items: center;
  text-align: center;
  height: 234px;
  width: 250px;
}

/*Updates*/
.update {
  background-color: rgb(248,249,250);
}

.news h1{
font-family: sans-serif;
font-weight: 700;
font-size: 44px;
line-height: 53px;
text-align: center;
color: var(--secondary-text);
}

.news p{
  font-family: sans-serif;
  font-weight: 400;
  font-size: 17px;
  line-height: 31px;
  text-align: center;
  color: var(--primary-text);
  }

.update main{
  display: grid;
  grid-template-rows: 550px 550px;
  grid-template-columns: 323px 323px 323px;
  height: 1300px;
  width: 1285px;
  text-align: left;
}

.update #date{
  font-family: sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 22px;
  color: var(--ancent-color);
  text-decoration: none;
}

.update #date:hover{
  color: var(--secondary-text);
}

.update #admin{
  font-family: sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 22px;
  color: var(--ancent-color);
  text-decoration: none;
}

.update #admin:hover{
  color: var(--secondary-text);
}

main i{
  font-family: sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 22px;
  color: #fe5f55;
}

main .fa-comment-alt:hover{
  color: var(--secondary-text);
}

main h5{
  font-family: sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 33px;
  color: var(--secondary-color);
}

.update .btn-primary{
  height: fit-content;
  width: max-content;
}

/*footer*/
.footer{
  background-image: url(https://images.pexels.com/photos/4386495/pexels-photo-4386495.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 80vh;
  width: 1520px;
}

.footer main{
  display: grid;
  grid-template-rows: 400px;
  grid-template-columns: 170px 170px 170px 170px 170px;
  border: 1px solid yellow;
  height: 400px;
  width: 1520px;
}

.footer main h3{
  font-family: sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: var(--secondary-text);
}

.footer main p{
  font-family: sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 29px;
  color: var(--primary-text);
  text-align: center;
}

.footer main a{
  font-family: sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 29px;
  color: var(--primary-color);
  text-decoration: none;
}

.footer .fmediplus i{
  font-size: 56px;
  line-height: 29px;
  color: var(--primary-color);
}